<%# Determines if our card is monster %>
<% if @card.card_type.include?("Monster")%>

  <div class="row mb-3">
    <%# Card image %>
    <div class="col-sm-12 col-md-4 col-lg-5">
      <img class="mb-3 img-fluid" src="<%= @card.card_image %>" alt="<%= @card.name %>">
    </div>

    <%# Determines if the monster is Pendulum %>
    <% if @card.card_type.include?("Pendulum") %>
      <div class="col-sm-12 col-md-4 col-lg-4 set_border">
        <h5><strong>Name:</strong> <em><%= @card.name %></em></h5>
        <h5><strong>Level:</strong> <em><%= @card.monster_cards.first.level %></em></h5>
        <h5><strong>Card Type:</strong> <em><%= @card.card_type %></em></h5>
        <h5><strong>Attribute:</strong> <em><%= @card.monster_cards.first.monster_attribute %></em></h5>
        <h5><strong>Stats: ATK/</strong><em><%= @card.monster_cards.first.attack %></em> <strong>DEF/</strong><em><%= @card.monster_cards.first.defense %></em></h5>
        <h5><strong>Scales:</strong> <em><%= @card.monster_cards.first.scale %></em></h5>
        <h5><strong>Effect/Description:</strong> <em><%= @card.description %></em></h5>
        <% if !(@card.archetype.nil?)%>
          <h5><strong>Archetype:</strong> <em><%= @card.archetype %></em></h5>
        <% end %>
      </div>
    <%# Determines if the monster is Link %>
    <% elsif @card.card_type.include?("Link") %>
      <div class="col-sm-12 col-md-4 col-lg-4 set_border">
        <h5><strong>Name:</strong> <em><%= @card.name %></em></h5>
        <h5><strong>Card Type:</strong> <em><%= @card.card_type %></em></h5>
        <h5><strong>Attribute:</strong> <em><%= @card.monster_cards.first.monster_attribute %></em></h5>
        <h5><strong>Stats: ATK/</strong><em><%= @card.monster_cards.first.attack %></em></h5>
        <h5><strong>Link:</strong> <em><%= @card.markers_list %></em></h5>
        <%# This is where all Link directions will go when model is complete %>
        <h5><strong>Link Arrows:</strong> <em><%= @card.monster_cards.first.link_value %></em></h5>
        <h5><strong>Effect/Description:</strong> <em><%= @card.description %></em></h5>
        <% if !(@card.archetype.nil?)%>
          <h5><strong>Archetype:</strong> <em><%= @card.archetype %></em></h5>
        <% end %>
      </div>
    <%# Otherwise can be any other monster category %>
    <% else %>
      <div class="col-sm-12 col-md-4 col-lg-4 set_border">
        <h5><strong>Name:</strong> <em><%= @card.name %></em></h5>
        <h5><strong>Level:</strong> <em><%= @card.monster_cards.first.level %></em></h5>
        <h5><strong>Card Type:</strong> <em><%= @card.card_type %></em></h5>
        <h5><strong>Attribute:</strong> <em><%= @card.monster_cards.first.monster_attribute %></em></h5>
        <h5><strong>Stats: ATK/</strong><em><%= @card.monster_cards.first.attack %></em> <strong>DEF/</strong><em><%= @card.monster_cards.first.defense %></em></h5>
        <h5><strong>Effect/Description:</strong> <em><%= @card.description %></em></h5>
        <% if !(@card.archetype.nil?)%>
          <h5><strong>Archetype:</strong> <em><%= @card.archetype %></em></h5>
        <% end %>
      </div>
    <% end %>


    <div class="col-sm-12 col-md-4 col-lg-3 set_border">
    <%# This will be implemented when card price models are created %>
      <h5><strong>Card Prices Lowest Listing By Seller:</strong></h5>
      <p><strong>Note: If price is zero card is unavailable on that site</strong></p>
      <% @card.card_prices.each do |cost| %>
        <h5><strong>Amazon: </strong> $<em><%= cost.price %></em></h5>
      <% end %>
    </div>


  </div>

<%# if not a monster it is either Spell, trap or Skill card %>
<% else %>

  <div class="row">
    <%# Card image %>
    <div class="col-sm-12 col-md-4 col-lg-5">
      <img class="mb-3 img-fluid" src="<%= @card.card_image %>" alt="<%= @card.name %>">
    </div>

    <%# Card attributes %>
    <div class="col-sm-12 col-md-4 col-lg-4 set_border">
      <h5><strong>Name:</strong> <em><%= @card.name %></em></h5>
      <h5><strong>Card Type:</strong> <em><%= @card.card_type %></em></h5>
      <h5><strong>Effect/Description:</strong> <em><%= @card.description %></em></h5>
      <% if !(@card.archetype.nil?)%>
        <h5><strong>Archetype:</strong> <em><%= @card.archetype %></em></h5>
      <% end %>
    </div>

    <%# Card prices based on set and rarity %>
    <div class="col-sm-12 col-md-4 col-lg-3 set_border">
    <%# This will be implemented when card price models are created %>
      <h5><strong>Card Prices Lowest Listing By Seller:</strong></h5>
      <p><strong>Note: If price is zero card is unavailable on that site</strong></p>
      <% @card.card_sellers.zip(@card.card_prices).each do |seller, cost| %>
        <h5><strong>seller.seller_name: </strong> $<em><%= cost.price %></em></h5>
      <% end %>
    </div>
  </div>
<% end %>
