<%# Determines if our card is monster %>
<% if @card.card_type.include?("Monster")%>
  <h1>You have a monster card</h1>

  <div class="row mb-3">
    <div class="col-sm-12 col-md-4 col-lg-5">
      <img class="mb-3" src="<%= @card.card_image %>" alt="<%= @card.name %>">
    </div>

    <%# Determines if the monster is Pendulum %>
    <% if @card.card_type.include?("Pendulum") %>
      <div class="col-sm-12 col-md-4 col-lg-5 set_border">
        <h5><strong>Name:</strong> <em><%= @card.name %></em></h5>
        <h5><strong>Level:</strong> <em><%= @monster.level %></em></h5>
        <h5><strong>Card Type:</strong> <em><%= @card.card_type %></em></h5>
        <h5><strong>Attribute:</strong> <em><%= @monster.monster_attribute %></em></h5>
        <h5><strong>Stats: ATK/</strong><em><%= @monster.attack %></em> <strong>DEF/</strong><em><%= @monster.defense %></em></h5>
        <h5><strong>Scales:</strong> <em><%= @monster.scale %></em></h5>
        <h5><strong>Effect/Description:</strong> <em><%= @card.description %></em></h5>
        <% if !(@card.archetype.nil?)%>
          <h5><strong>Archetype:</strong> <em><%= @card.archetype %></em></h5>
        <% end %>
      </div>
    <%# Determines if the monster is Link %>
    <% elsif @card.card_type.include?("Link") %>
      <div class="col-sm-12 col-md-4 col-lg-5 set_border">
        <h5><strong>Name:</strong> <em><%= @card.name %></em></h5>
        <h5><strong>Card Type:</strong> <em><%= @card.card_type %></em></h5>
        <h5><strong>Attribute:</strong> <em><%= @monster.monster_attribute %></em></h5>
        <h5><strong>Stats: ATK/</strong><em><%= @monster.attack %></em></h5>
        <h5><strong>Link:</strong> <em><%= @monster.link_value %></em></h5>
        <%# This is where all Link directions will go when model is complete %>
        <h5><strong>Effect/Description:</strong> <em><%= @card.description %></em></h5>
        <% if !(@card.archetype.nil?)%>
          <h5><strong>Archetype:</strong> <em><%= @card.archetype %></em></h5>
        <% end %>
      </div>
    <%# Otherwise can be any other monster category %>
    <% else %>
      <div class="col-sm-12 col-md-4 col-lg-5 set_border">
        <h5><strong>Name:</strong> <em><%= @card.name %></em></h5>
        <h5><strong>Level:</strong> <em><%= @monster.level %></em></h5>
        <h5><strong>Card Type:</strong> <em><%= @card.card_type %></em></h5>
        <h5><strong>Attribute:</strong> <em><%= @monster.monster_attribute %></em></h5>
        <h5><strong>Stats: ATK/</strong><em><%= @monster.attack %></em> <strong>DEF/</strong><em><%= @monster.defense %></em></h5>
        <h5><strong>Effect/Description:</strong> <em><%= @card.description %></em></h5>
        <% if !(@card.archetype.nil?)%>
          <h5><strong>Archetype:</strong> <em><%= @card.archetype %></em></h5>
        <% end %>
      </div>
    <% end %>


    <div class="col-sm-12 col-md-4 col-lg-2">
    <%# This will be implemented when card price models are created %>
      <p>card prices</p>
    </div>


  </div>

<%# if not a monster it is either Spell, trap or Skill card %>
<% else %>
  <h1>No monster cards</h1>

  <div class="row mb-3">
    <%# Card image %>
    <div class="col-sm-12 col-md-4 col-lg-5">
      <img src="<%= @card.card_image %>" alt="<%= @card.name %>">
    </div>

    <%# Card attributes %>
    <div class="col-sm-12 col-md-4 col-lg-5 set_border">
      <p>djfhjksdhfkjhdkfhdk</p>
      <% if !(@card.archetype.nil?)%>
        <p><%=@card.archetype%></p>
      <% end %>
    </div>

    <%# Card prices based on set and rarity %>
    <div class="col-sm-12 col-md-4 col-lg-2 set_border">
      <%# This will be implemented when card price models are created %>
      <p>card prices</p>
    </div>
  </div>
<% end %>
