<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yugioh On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="/">All Things Yu-Gi-Oh!</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/cards">Cards</a>
            </li>
            <%# <li class="nav-item active">
              <a class="nav-link" href="#">Card Price Listings</a>
            </li> %>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>

          <%= form_with(url: search_cards_path, method: :get, local: true) do %>
            <div class="form-inline my-2 my-lg-0">
              <div class="control is-expanded">
                <%= text_field_tag(:keywords, nil, class: "input form-control mr-sm-2", placeholder: 'Search for Cards') %>
              </div>
              <div class="control">
                <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0")%>
              </div>
            </div>
          <% end %>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
